<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Products</h2>
    <img
      src="images/chevron.svg"
      alt=""
      class="icon icon--white collapsible__chevron"
    />
  </header>
  <div class="collapsible__content">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam excepturi,
      eius suscipit maiores tempora recusandae vel repellendus est ipsum
      quisquam nisi explicabo qui, provident rerum. Eligendi voluptatum odit
      eaque accusantium!
    </p>
  </div>
</div>
<script src="js/main.js"></script>
